body {
  /* margin: 5vmax; */
  /* background-color: red; */
}

.App {
  font-size: 16px;

  display: grid;
  grid-template-columns: 200px 80vw;
}

.username {
  font-weight: bolder;
}

.adminMessage {
  text-align: center;
  font-style: italic;
}

#conversation {
  background-color: #E8E8E8;
  height: 45vh;
  border-radius: 30px;
  padding-left: 1vmin;
  padding-right: 1vmin;
  overflow: auto;
}

#MessageInput {
  text-align: center;

  background-color: #C8C6C6;
  border-radius: 30px;


  margin-top: 1vmin;
  padding: 1vmin;
}

#ActiveUsersContainer {
  grid-column: 1;
  padding: 1vmin;
  margin-right: 1vmin;
}

#AppContainer {
  grid-column: 2;
  padding: 1vmin;
  min-width: 500px;
  max-width: 70%;

}

#ActiveUsers {

  background-color: #E4E4E4;

  width: 100%;

  height: 50vh;

  padding: 1vmin;

  border-radius: 30px;
}

#usernameBold {
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  text-align: center;
}


input[type=text], textarea {
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 95%;
  margin: 2px;
}

input[type=Submit] {
  background-color: #000000;
  border-radius: 10px;
  font-size: 18px;
  color: #FFFFFF;
}
