body {
  margin-top: 5vmax;
}

.App {
  font-size: 16px;

  display: grid;
  grid-template-columns: 33vw 34vw 33vw;
}

.username {
  color: blue;
  font-weight: bolder;
}

#conversation {
  background-color: #E8E8E8;
  height: 45vh;
  border-radius: 30px;
  padding: 2vmax;
}

#MessageInput {
  text-align: center;

  background-color: #C8C6C6;
  border-radius: 30px;

  margin-top: 1vmin;
  padding: 1vmin;
}


#AppContainer {
  grid-column: 2;
}

input[type=text], textarea {
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  width: 30vw;
}

textarea {

}
